{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="/theme/moove/css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="/theme/moove/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="/theme/moove/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="/theme/moove/css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="/theme/moove/css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    {{{output.get_js_moove}}}
</head>
<style type="text/css">
    
    body, html {
        font-family: Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none !important;
    }
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background: #b8b9bf;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
      
    }
    @media (min-width: 768px) {
        body {
            margin-left: 0px;
        }
    }
    .aabtn.focus, .aabtn:focus, .btn-link.focus, .btn-link:focus, .nav-link.focus, .nav-link:focus, .editor_atto_toolbar button.focus, .editor_atto_toolbar button:focus, [role="button"].focus, [role="button"]:focus, .list-group-item-action.focus, .list-group-item-action:focus, input[type="checkbox"].focus, input[type="checkbox"]:focus, input[type="radio"].focus, input[type="radio"]:focus, input[type="file"].focus, input[type="file"]:focus, input[type="image"].focus, input[type="image"]:focus, .sr-only-focusable.focus, .sr-only-focusable:focus, a.dropdown-toggle.focus, a.dropdown-toggle:focus, .modal-dialog[tabindex="0"].focus, .modal-dialog[tabindex="0"]:focus, .moodle-dialogue-base .closebutton.focus, .moodle-dialogue-base .closebutton:focus, button.close.focus, button.close:focus, .form-autocomplete-selection.focus, .form-autocomplete-selection:focus {
        box-shadow: none;
    }
    #nav-drawer {
        background-color: #0f6fc5;
        height: calc(100% - 70px);
    }
    #nav-drawer.closed {
        display: none;
    }
    #nav-drawer-footer {
        display: none;
    }
    nav.navbar .drawer-toggle {
        background-color: #0f6fc5;
    }
    .header-banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../theme/moove/pix/default_course.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #sidepre-blocks {
        padding: 1rem;
        background-color: #e3eef5;
        margin-bottom: 0;
        -webkit-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%); 
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%);
        border: 0;
    }
    .card {
        border-radius: 8px;
    }
    @media (min-width: 1200px) {
        .card-deck .card {
            flex-basis: calc(20% - .5rem);
        }
    }
    #page-site-index h3.categoryname {
        font-size: 20px
    }
    #page-site-index h3.categoryname a {
        color: #222 !important;
    }
    #page-site-index h4.categoryname {
        font-size: 18px
    }
    #page-site-index h4.categoryname a {
        color: #222 !important;
    }

    #page-site-index #page-header {
        display: none;
    }
    #frontpage-category-combo .collapsible-actions {
        display: none;
    }
    #page-site-index #top-footer {
        display: none;
    }
    #page-site-index #page {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px !important;
    }
    #page-site-index nav.fixed-top {
        display: none;
    }
    #page-site-index #page-content {
        padding-bottom: 0px!important;
    }
    #page-site-index #region-main {
        border: 0!important;
    }
    #page-site-index .card {
        border: 0!important;
    }
    #page-site-index #page {
        padding: 0!important;
    }
    #page-site-index #page-content {
        margin: 0!important;
    }
    #page-site-index [data-region="blocks-column"] {
        top: 0;
    }
    #page-site-index #sidepre-blocks {
        height: 100%;
    }
    #mooveslideshow {
        display: none;
    }

    #frontpage-category-combo h4.card-title {
        font-size: 16px;
    }
    .title-read-more {
        font-weight: 400;
        line-height: 1.3;
        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #page-news .card-body {
        padding: 0px;
    }
    .form-control.fh5co_text_select_option {
        top: -15px;
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #464a4c;
        background-color: #fff;
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    }
    .single #fh5co-title-box {
        height: 400px;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        border: 0;
    }
    #page-news #page-header {
        display: none;
    }
    #frontpage-category-combo .collapsible-actions {
        display: none;
    }
    #page-news #top-footer {
        display: none;
    }
    #page-news #page {
        padding: 0px;
        margin-top: 0px !important;
    }
    #page-news #page-content {
        padding-bottom: 0px!important;
    }
    #page-news #region-main {
        border: 0!important;
    }
    #page-news .card {
        border: 0!important;
    }
    #page-news #page-content {
        margin: 0!important;
    }
    #page-news #region-main-box {
        padding: 0!important;
    }

    .footer_post_portal {
        height: 80px;
        font-weight: 400;
        line-height: 1.3;
        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #page-news .aalink.focus, .aalink:focus, #page-footer a:not([class]).focus, #page-footer a:not([class]):focus, .arrow_link.focus, .arrow_link:focus, a:not([class]).focus, a:not([class]):focus, .activityinstance>a.focus, .activityinstance>a:focus {
        outline: 0;
        background-color: unset;
        box-shadow: unset;
    }
    #page-news .fixed-top {
        display: none;
    }
    #page-course-view-topics .page-header-headings h1 {
        font-size: 18px;
    }
    .btn-login-logout {
        top: -15px;
        border-radius: 5px;
    }
    #top-footer {
        background-image: unset;
        padding: 0;
    }
    #page-newsall .card-body {
        padding: 0px;
    }

    #page-newsall #top-footer {
        display: none;
    }
    #page-newsall #page-header {
        display: none;
    }
    #page-newsall .fixed-top {
        display: none;
    }
    #page-newsall #page {
        padding: 0px;
        margin-top: 0px !important;
    }
    #page-newsall #page-content {
        padding-bottom: 0px!important;
    }
    #page-newsall #region-main {
        border: 0!important;
    }
    #page-newsall .card {
        border: 0!important;
    }
    #page-newsall #page-content {
        margin: 0!important;
    }
    #page-newsall #region-main-box {
        padding: 0!important;
    }
    .form-control:focus {
        box-shadow: unset;
    }
    .btn-search-newsall {
        height: 50px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .fh5co_mediya_right {
        margin-top: 1rem;
    }
    .fh5co_logo_width {
        width: 180px;
    }
    .fh5co_suceefh5co_height img,
    .fh5co_suceefh5co_height_2 img {
        height: 100%;
        width: 100%
    }
    @media (min-width: 768px) {
        body#page-site-index.drawer-open-left {
            margin-left: 0 !important;
        }
    }
    .fh5co_video_hot_title {
        font-weight: 400;
        line-height: 1.3;
        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<body {{{ bodyattributes }}}>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>
{{> core/local/toast/wrapper}}

{{>theme_moove/header}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}